package templates

import "time"

templ Clock(now time.Time) {
	<section id="clock">
		<div class="time">{ now.Format("15:04") }</div>
		<div class="date">{ now.Format("Monday, 2 January 2006") }</div>
	</section>
	<script src="/static/clock.js" defer></script>
}
